---
import { SITE } from '../config';

import Layout from '../layouts/PageLayout.astro';

import Hero from '../components/home/Hero.astro';
import LatestCasePosts from '../components/case_studies/LatestPosts.astro';
import NeedVideos from '../components/home/NeedVideos.astro';
import Supercharge from '../components/home/Supercharge.astro';
import PackageTiles from '../components/home/PackageTiles.astro';
// import QualityVidGraphics from '../components/home/QualityVidGraphics.astro';
import QualityHighlights from '../components/home/QualityHighlights.astro';
// import Testimonials from '../components/home/Testimonials.astro';
import Testimonials from '../components/home/Testimonials.astro';

const { packages } = Astro.props;

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
<div>
  <Hero>  
  <Fragment slot="title">
      Socialize Your Content 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Professional help building your video and graphical content to market and grow your business with easy & flexible plans.
      </span>
    </Fragment>
  </Hero> 
</div>
    <div class="bg-home-bg">
      <Hero
        callToAction2={{ text: '▶️ OUR WORK', href: '#features' }}
      >
    </Hero>
    </div>   
  
  <!-- Note Widget ******************* -->

  <!-- <Note /> -->


  <!-- NeedVideos Widget -->

  <NeedVideos
    title="You Need Videos"
    subtitle="A few statistics to consider"
    items={[
      [
        {
          title: '81%',
          description: 'Effective businesses recognize that they have to keep up with trends. Now, 81% of business use video as a critical marketing tool.'
        },
        {
          title: '95%',
          description: 'You can simply communicate better with video. Studies show that viewers retain 95% of a message when watching a video verses 10% when reading text.'
        },
        {
          title: '59%',
          description: "Don't take our word for it. 59% of executives say they would rather watch a video than text when learning about a product or services."
        },
      ]
    ]}
  />

  <!-- Supercharge Widget -->

  <Supercharge
      title="Supercharge Your Marketing With Video Content"
      items={[
        [
          {
            text1: "If you’re not advertising with video, you’re losing new business. Gig-speeds are rapidly making video a standard for online marketing and if it’s lacking in your ads, goodbye to your audience.",
            text2: "That’s the last thing you want when people are trying to decide where to take their business. But producing a quality video is no small task. That’s where we come in. We have the smooth process you've been searching for."
          },
          {
            text1: "Our team of experts will help you plan and create your marketing content that will help you reach your goals. That means we can help come up with social content ideas and then make them a reality.",
            text2: "Whether you're looking for simple video editing, or more complex graphic animation, or sourcing local filming, our packages are here to simplify creating your content.",
          },
        ]
      ]}
  />

  <PackageTiles />

  <!-- QualityVidGraphics Widget -->

  <QualityHighlights />

  <!-- <QualityVidGraphics
    title="More Quality Marketing Videos & Graphics"
    description1="Clients that work with us find they are more easily creating marketing content more consistently. We help them navigate through complex video production, 2D animation, and everything in-between."
    description2="By using our process you'll not only have a good experience but not spend all your marketing money on producing high-quality videos."
    items={[
      [
        {
          icon: "ph:play-circle",
          alt: "play icon",
          subtitle: "NO Long-Term Contracts",
          tag: "Flexible and easy packages to fit your timeline and need.",
        },
        {
          icon: "ph:play-circle",
          alt: "play icon",
          subtitle: "Custom",
          tag: "Everything is created for you according to your brand.",
        },
        {
          icon: "ph:play-circle",
          alt: "play icon",
          subtitle: "Localized",
          tag: "Filming will be in your local area or wherever you need.",
        },
      ]
    ]}        
  /> -->

  <!-- Testimonials Widget -->

  <Testimonials />

  <!-- <Testimonials
    highlight="TESTIMONIALS"
    title="What Our Clients Are Saying"
    items={[
      [
        {
          photo: '/src/assets/headshot.jpg',
          alt: "Man wearing glasses",
          quote: "The bottom line: I make more money. Simply said! Working with Jeff and his team, I'm hitting all-time revenue numbers.",
          name: "Tom Stone",
          role: "MORTGAGE CONSULTANT",
        },
        {
          photo: "../src/assets/images/headshot.jpg",
          alt: "Man wearing glasses",
          quote: "We've used Socialize for regular video creation for the last two years. They're easy to work with and create high quality videos!",
          name: "Colin Kelly",
          role: "CLEAR FOUNDATION",
        },
        {
          photo: "../src/assets/images/headshot.jpg",
          alt: "Man wearing glasses",
          quote: "They were really great with coming up with different ideas and unique scripts. I was really happy with the creativity and the end results.",
          name: "Dana Ball",
          role: "DANA BALL LEGAL SERVICES",
        },
      ]
    ]}
  />

   -->

  <!-- HighlightedPosts Widget ******* -->

  <LatestCasePosts
    title="Find out more from our Case Studies"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  
</Layout>
